DirectoryIndex frontpage.html index.html index.php

<IfModule LiteSpeed>
    CacheDisable public /
</IfModule>

<IfModule mod_headers.c>
    <FilesMatch "^(log\ in\.html|signup\.html)$">
        Header always set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
        Header always set Pragma "no-cache"
        Header always set Expires "0"
    </FilesMatch>
    <FilesMatch "\.(html|css|js)$">
        Header always set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
        Header always set Pragma "no-cache"
        Header always set Expires "0"
    </FilesMatch>
    <Files "session.js">
        Header always set Cache-Control "no-store, no-cache, must-revalidate, max-age=0"
        Header always set Pragma "no-cache"
        Header always set Expires "0"
    </Files>
</IfModule>
